<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>

    <link href="../static/travel.css" th:href="@{/travel.css}" rel="stylesheet" />
    <link href="../static/review.css" th:href="@{/review.css}" rel="stylesheet" />
</head>
<body >
    <div class="review-bg" th:style="|background:url( ${offer.cityPhotoUrl} );|"></div>
    <div class="review-bg-shadow"></div>
    <div id="cover" >
        <div id="review">
            <h1>Review Your trip</h1>
            <form class="form" method="post" th:action="|@{/booking/review/}${offerId}/add|" th:object="${review}">
                <textarea type="text" th:field="*{comment}"></textarea>
                <button type="submit" >Submit</button>
            </form>
        </div>
    </div>


</body>
</html>
