<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="../static/travel.css" th:href="@{/travel.css}" rel="stylesheet" />
    <link href="../static/search.css" th:href="@{/search.css}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <title>TEST TRAVEL PAGE </title>
</head>
<body>
    <div id="cover">
        <div id="menu" uk-sticky="sel-target: .uk-navbar-container; bottom: #transparent-sticky-navbar">
            <div class="uk-position-top">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: true;">
                    <div class="content">
                        <div class="uk-navbar-left menu-left">
                            <ul class="uk-navbar-nav">
                                <li><a id="logo" th:href="@{/}">Travello</a></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-right menu-right">
                            <ul class="uk-navbar-nav">
                                <li><a href="#" uk-icon="lock" uk-toggle="target: #offcanvas-login"></a></li>
                                <li><a href="#" uk-icon="user" uk-toggle="target: #offcanvas-panel"></a></li>
                                <li><a href="#" uk-icon="menu" uk-toggle="target: #offcanvas-menu"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="offcanvas-login" uk-modal>

            <form class="form uk-modal-dialog uk-modal-body" action="#" th:action="@{/login}" method="post">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h1>Login Page</h1>
                <label>Email</label>
                <input name="username" type="text" placeholder="Email">
                <label>Password</label>
                <input name="password" type="password" placeholder="Password">
                <button type="submit" value="Login" class="login">Login</button>
                <p>Register <a uk-toggle="target: #offcanvas-register">New Account</a></p>
            </form>
        </div>
        <div id="offcanvas-panel" uk-modal>
            <div class="user-modal uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div>
                    <a href="#" th:href="@{/users/panel}">My Bookings</a>
                    <a href="#" th:href="@{/users/panel}">My Account</a>
                    <a class="logout" href="#" th:href="@{/logout}">Log Out</a>
                </div>

            </div>
        </div>
        <div id="offcanvas-register" uk-modal>


            <div class="form uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h1>Sign In Page</h1>
                <form method="post" th:action="@{/register}" th:object="${userWriteModel}">

                    <label>Email</label>
                    <input th:field ="*{username}" type="email" placeholder="Email Address">
                    <label>Name</label>
                    <input th:field ="*{name}" type="text" placeholder="Name">
                    <label>Surname</label>
                    <input th:field ="*{surname}" type="text" placeholder="Surname">
                    <br>
                    <p>--------------------------</p>
                    <label>Password</label>
                    <input th:field="*{password}" type="password" placeholder="Password">
                    <label>Repeat password</label>
                    <input th:field="*{password2}" type="password" placeholder="Repeat password">
                    <button class="login">Submit</button>
                </form>
            </div>
        </div>
        <div id="offcanvas-menu" uk-offcanvas="mode: reveal; overlay: true; flip: true;">
            <div class="off-canvas uk-offcanvas-bar uk-flex uk-flex-column">

                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li class="option uk-active"><a href="#">Home</a></li>
                    <li class="option"><a href="#">About us</a></li>
                    <li class="option"><a href="#">Contact us</a></li>
                </ul>

            </div>
        </div>

        <div id="header">
            <div class="search">
                <form class="uk-form-stacked" action="#" method="post" th:action="@{/search}" th:object="${search}">
                    <div class="uk-margin">
                        <select class="select uk-select" th:field="*{from}">
                            <option value="Anywhere">From</option>
                            <option th:each="option : ${fromLocation}" th:value="${option}" th:text="${option}">Option 01</option>
                        </select>
                    </div>

                    <div class="uk-margin">
                        <select class="select uk-select" th:field="*{to}">
                            <option value="Anywhere">To</option>
                            <option th:each="option : ${toLocation}" th:value="${option}" th:text="${option}">Option 01</option>
                            <!--<option class="inactive" disabled="disabled">Option 03</option>-->
                        </select>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <input class="uk-input" type="date" th:field="*{date}" pattern="dd.MM.yyyy">
                        </div>
                    </div>
                    <button class="uk-button uk-button-default" type="submit" value="Submit">Search</button>
                </form>
            </div>
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade; autoplay: true">
                <ul class="uk-slideshow-items">
                    <li>
                        <div class="cover">
                            <p>Widziałem orła cień</p>
                            <h1>Visit Spain</h1>
                        </div>
                        <img src="https://images.unsplash.com/photo-1516911046066-db186f021455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="" uk-cover>
                    </li>
                    <li>
                        <div class="cover">
                            <div class="cover">
                                <p>Widziałem orła cień</p>
                                <h1>Check France</h1>
                            </div>
                        </div>
                        <img src="https://images.unsplash.com/photo-1556887444-19bd1175d354?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" uk-cover>
                    </li>
                    <li>
                        <div class="cover">
                            <p>Widziałem orła cień</p>
                            <h1>Discover Russia</h1>
                        </div>
                        <img src="https://images.unsplash.com/photo-1528628226822-6f38ca9687c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" uk-cover>
                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            </div>
        </div>
        <div id="content">
            <div class="column1">
                <div id="weather-forecast">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="column2">
                <h1 class="content-desc" th:text="${contentDesc}">Top destinations...</h1>
                <h1 class="content-desc-bg" th:text="${contentDesc}">Top destinations...</h1>

                <div id="search-page">
                    <!--/*@thymesVar id="project" type="pl.gregorymartin.touristapp.trip.dto.OfferSearch"*/-->
                    <div th:each="offer : ${offersList}">
                        <div class="content">
                            <div class="location" >
                                <p th:text="|${offer.getDepartureCityName()} to |">from</p>
                                <p th:text="| ${offer.getArrivingCityName()}|">to</p>
                            </div>

                            <div class="dates">
                                <div class="date">
                                    <p th:text="${offer.departureTimeDate()}">dep date</p>
                                    <h2 th:text="${offer.departureTimeHour()}">dep time</h2>
                                </div>
                                <p class="days" th:text="|${offer.getDays()} DAYS|">days</p>
                                <div class="date">
                                    <p th:text="${offer.arrivingTimeDate()}">arr date</p>
                                    <h2 th:text="${offer.arrivingTimeHour()}">arr time</h2>
                                </div>
                            </div>
                            <span class="price" th:text="|${offer.getPrice()}$|">from 700$</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="subscribe">
                <h1>
                    Subscribe <br> to Our Newsletter
                </h1>
                <div>
                    <input />
                    <button>Subscribe</button>
                </div>

            </div>
            <div class="footer-belt">
                <h1 class="logo">Travello</h1>
                <div class="social">
                    <li><a href="#" uk-icon="facebook"></a></li>
                    <li><a href="#" uk-icon="instagram"></a></li>
                    <li><a href="#" uk-icon="youtube"></a></li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
