<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="../static/travel.css" th:href="@{/travel.css}" rel="stylesheet" />
    <link href="../static/user-panel.css" th:href="@{/user-panel.css}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <title>TEST TRAVEL PAGE </title>
</head>
<body>
    <div id="cover">
        <div id="menu" uk-sticky="sel-target: .uk-navbar-container; bottom: #transparent-sticky-navbar">
            <div class="uk-position-top">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: true;">
                    <div class="content">
                        <div class="uk-navbar-left menu-left">
                            <ul class="uk-navbar-nav">
                                <li><a id="logo" th:href="@{/}">Travello</a></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-right menu-right">
                            <ul class="uk-navbar-nav">
                                <li><a href="#" uk-icon="lock" uk-toggle="target: #offcanvas-login"></a></li>
                                <li><a href="#" uk-icon="user" uk-toggle="target: #offcanvas-panel"></a></li>
                                <li><a href="#" uk-icon="menu" uk-toggle="target: #offcanvas-menu"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="offcanvas-login" uk-modal>

            <form class="form uk-modal-dialog uk-modal-body" action="#" th:action="@{/login}" method="post">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h1>Login Page</h1>
                <label>Email</label>
                <input name="username" type="text" placeholder="Email">
                <label>Password</label>
                <input name="password" type="password" placeholder="Password">
                <button type="submit" value="Login" class="login">Login</button>
                <p>Register <a uk-toggle="target: #offcanvas-register">New Account</a></p>
            </form>
        </div>
        <div id="offcanvas-panel" uk-modal>
            <div class="user-modal uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div>
                    <a href="#" th:href="@{/users/panel}">My Bookings</a>
                    <a href="#" th:href="@{/users/panel}">My Account</a>
                    <a class="logout" href="#" th:href="@{/logout}">Log Out</a>
                </div>

            </div>
        </div>
        <div id="offcanvas-register" uk-modal>


            <div class="form uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h1>Sign In Page</h1>
                <form method="post" th:action="@{/register}" th:object="${userWriteModel}">

                    <label>Email</label>
                    <input th:field ="*{username}" type="email" placeholder="Email Address">
                    <label>Name</label>
                    <input th:field ="*{name}" type="text" placeholder="Name">
                    <label>Surname</label>
                    <input th:field ="*{surname}" type="text" placeholder="Surname">
                    <br>
                    <p>--------------------------</p>
                    <label>Password</label>
                    <input th:field="*{password}" type="password" placeholder="Password">
                    <label>Repeat password</label>
                    <input th:field="*{password2}" type="password" placeholder="Repeat password">
                    <button class="login">Submit</button>
                </form>
            </div>
        </div>
        <div id="offcanvas-menu" uk-offcanvas="mode: reveal; overlay: true; flip: true;">
            <div class="off-canvas uk-offcanvas-bar uk-flex uk-flex-column">

                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li class="option uk-active"><a href="#">Home</a></li>
                    <li class="option"><a href="#">About us</a></li>
                    <li class="option"><a href="#">Contact us</a></li>
                </ul>

            </div>
        </div>

        <div class="user-panel">

            <div class="user-header" uk-parallax="bgy: -200">
                <div class="user-header-bg"></div>
                <img src="https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
                <h1 th:text="|Welcome ${user.name}!|"></h1>
                <div class="user-details">
                    <div class="user-avatar">
                        <img th:src="${user.photoUrl}"/>
                    </div>
                    <div>
                        <h2 class="name" th:text="|${user.name} ${user.surname}|"></h2>
                        <h2 class="email" th:text="${user.username}"></h2>
                    </div>
                </div>
            </div>

            <div id="user-booking-content">
                <div id="user-booking-page">
                    <!--/*@thymesVar id="project" type="pl.gregorymartin.touristapp.trip.dto.OfferSearch"*/-->
                    <div th:each="booking : ${futureBookings}">
                        <div class="content-bg">
                            <div class="content-bg-shadow"></div>
                            <img  th:src="${booking.photoUrl}">
                        </div>
                        <div class="content">
                            <div class="location" >
                                <p th:text="|${booking.getDepartureCityName()} to |">from</p>
                                <p th:text="| ${booking.getArrivingCityName()}|">to</p>
                            </div>

                            <div class="dates">
                                <div class="date">
                                    <p th:text="${booking.departureTimeDate()}">dep date</p>
                                    <h2 th:text="${booking.departureTimeHour()}">dep time</h2>
                                </div>
                                <!--<p class="days" th:text="|${offer.getDays()} DAYS|">days</p>-->
                                <div class="date">
                                    <p th:text="${booking.arrivingTimeDate()}">arr date</p>
                                    <h2 th:text="${booking.arrivingTimeHour()}">arr time</h2>
                                </div>
                            </div>
                            <div class="people">
                                <h2 th:text="|${booking.size} persons|">number of people</h2>
                            </div>
                            <span class="price" th:text="|${booking.getPrice()}$|">from 700$</span>
                        </div>
                        <p th:if="${booking.paid}" class="paid" uk-icon="icon: check">PAID</p>
                        <a th:if="${!booking.paid}" class="unpaid" th:href="|#offcanvas-pay${booking.id}|" uk-toggle uk-icon="icon: close">UNPAID</a>
                        <div th:id="|offcanvas-pay${booking.id}|" uk-modal>

                            <form class="form uk-modal-dialog uk-modal-body" action="#" th:action="|@{/booking/pay/}${booking.id}|" method="post">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <button type="submit" class="login">Pay</button>
                            </form>
                        </div>

                    </div>

                    <h1 id="history">History</h1>

                    <div class="history" th:each="booking : ${pastBookings}">
                        <div class="content-bg dark">
                            <div class="content-bg-shadow"></div>
                            <img th:src="${booking.photoUrl}">
                        </div>
                        <div class="content">
                            <div class="location" >
                                <p th:text="|${booking.getDepartureCityName()} to |">from</p>
                                <p th:text="| ${booking.getArrivingCityName()}|">to</p>
                            </div>

                            <div class="dates">
                                <div class="date">
                                    <p th:text="${booking.departureTimeDate()}">dep date</p>
                                    <h2 th:text="${booking.departureTimeHour()}">dep time</h2>
                                </div>
                                <!--<p class="days" th:text="|${offer.getDays()} DAYS|">days</p>-->
                                <div class="date">
                                    <p th:text="${booking.arrivingTimeDate()}">arr date</p>
                                    <h2 th:text="${booking.arrivingTimeHour()}">arr time</h2>
                                </div>
                            </div>
                            <div class="people">
                                <h2 th:text="|${booking.size} persons|">number of people</h2>
                            </div>
                            <a class="review" uk-icon="icon: file-edit" th:href="|@{/booking/review/}${booking.id}|"> REVIEW </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="user-comments">
                <div class="user-comments" th:each="comment : ${comments}">
                    <p th:text="${comment.createdOn}"></p>
                    <p th:text="${comment.comment}"></p>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="subscribe">
                <h1>
                    Subscribe <br> to Our Newsletter
                </h1>
                <div>
                    <input />
                    <button>Subscribe</button>
                </div>

            </div>
            <div class="footer-belt">
                <h1 class="logo">Travello</h1>
                <div class="social">
                    <li><a href="#" uk-icon="facebook"></a></li>
                    <li><a href="#" uk-icon="instagram"></a></li>
                    <li><a href="#" uk-icon="youtube"></a></li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
